# =========================
# .NET / C#
# =========================
bin/
obj/
*.dll
*.exe
*.pdb
*.cache
*.sourcelink.json

# =========================
# NuGet
# =========================
project.assets.json
project.nuget.cache

# =========================
# SQLite
# =========================
*.db
*.db-shm
*.db-wal

# =========================
# OS / Editor
# =========================
.vs/
.idea/
*.user
*.log
